# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
.gradle
build
lectureexamples/**/gradle/wrapper/**.*
lectureexamples/**/gradlew
lectureexamples/**/gradlew.bat
lectureexamples/l06_SPAs/backend/src/main/resources/static/assets
lectureexamples/l06_SPAs/backend/src/main/resources/static/index.html
lectureexamples/l06_SPAs/backend/src/main/resources/static/vite.svg
!lectureexamples/l08_jpa/LectureBasicDemos.java
**/.DS_Store
