<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form th:action="@{/register}" method="post">
    <fieldset>
        <label for="username-field">Username:</label>
        <input type="text" name="username" id="username-field">
        <label for="email-field">E-Mail:</label>
        <input type="email" name="email" id="email-field">
        <label for="password-field">Password:</label>
        <input type="password" name="password" id="password-field">
        <label for="password-repeat-field">Repeat Password:</label>
        <input type="password" name="password-repeat" id="password-repeat-field">
        <button type="submit">Register</button>
    </fieldset>
</form>

</body>
</html>